body{
    margin: 0px;
}

#site_header{
    background-color:aqua;
    height: 50px;
}

.container{
    display: flex;
    justify-content: center; 
    align-items:center;
    height: 100%;
}

.item1{
    width: 10%;
    border:1px dotted black;
}

.item2{
    width: 20%;
    text-align: center;
    border:1px dotted black;
}

.item3{
    width: 10%;
    text-align: end;
    border:1px dotted black;
}



.first_section{
    height: 200px;
    background-color: blue;
    display: flex;
    justify-content: center; 
    align-items:center;
}

.second_section{
    height: 200px;
    background-color: white;
    display: flex;
    justify-content: center; 
    align-items:center;
}

.third_section{
    height: 200px;
    background-color: gray;
    display: flex;
    justify-content: center; 
    align-items:center;
}

.fourth_section{
    height: 200px;
    background-color: white;
    display: flex;
    justify-content: center; 
    align-items:center;
}

.fifth_section{
    height: 400px;
    background-color: gray;
    display: flex;
    justify-content: center; 
    align-items:center;
    
}

.container_1{
    width: 20%;
    height: 80%;
    background-color: pink;
    border: 1px dotted;
    
}

.container_2{
    width: 30%;
    height: 80%;
    background-color:cornflowerblue;
    border: 1px dotted;
    
}

.container_0{
    width: 30%;
    height: 80%;
    background-color: palevioletred;
    border: 1px dotted;
}

.container_3{
    width: 50%;
    height: 80%;
    background-color: green;
    border: 1px dotted;
}