body{
    margin: 0px;
}

#site_header{
    background-color:aqua;
    height: 50px;
}

.container{
    display: flex;
    justify-content: center; 
    align-items:center;
    height: 50px;
}

.item1{
    width: 10%;
}

.item2{
    width: 20%;
    text-align: center;
}

.item3{
    width: 10%;
    text-align: end;
}